body{
  background: rgb(183,221,255);
background: linear-gradient(180deg, rgba(183,221,255,1) 0%, rgba(250,250,250,1) 100%);


}

.logo{
  margin-top: 25vh;
  max-width: 60vw;
}

.coiner{
  position: absolute;
  max-width: 10vw;
  right: 5vw;
  top: 5vh;
}

main {
 min-height: 100vh;
 height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

main button {
  margin-top: 20px;
  background-color: rgb(12 78 139);
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

main button:hover {
  background-color: #2681F2;
}

p{
  font-size: 20px;
  color: #1ed4ff;
}


.sponsors{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

}


 
@media screen and (max-width: 900px) {
  .logo{
    max-width: 80vw;
  }
  .coiner{
    max-width: 20vw;
  }
  main button {
    padding-left: 20px;
    padding-right: 20px;
  }
  p{
    font-size: 15px;
  }
  .sponsors{
    display:grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .sponsors img{
    max-width: 20vw;
  }
}